<app-header />

<div class="layout_container">
    @if ((stepStatus$ | async)?.init) {
    <app-form-init/>
    }
    @if ((stepStatus$ | async)?.process) {
         @switch ((stepProcessStatus$ | async)) {
            @case(ProccessStatus.first){
                <app-time-line />
            }
            @case(ProccessStatus.inProgress){
                <app-tecnologies-section />
            }
            @case(ProccessStatus.completed){
                <app-iframe-proyects />
            }
         }
    }
    @if ((stepStatus$ | async)?.finaly) {
    <app-contact-me />
    }
</div>