<app-header />

<div class="layout_container">
    @if (stepStatus.init) {
    <app-form-init/>
    }
    @if (stepStatus.process) {
         @switch (stepProcessStatus) {
            @case(ProccessStatus.first){
                <app-time-line />
            }
            @case(ProccessStatus.inProgress){
                <app-tecnologies-section />
            }
            @case(ProccessStatus.completed){
                <app-iframe-proyects />
            }
         }
    }
    @if (stepStatus.finaly) {
    <app-contact-me />
    }
</div>